<div class="rod_component">
    <h3>A fishing rod is a long, elastic rod used by fishermen to catch fish by manipulating a line ending in a hook (formerly known as an angle, hence the term angling). 
        At its simplest form, a fishing rod is a straight stick or pole with a line attached to one end (as seen in traditional Tenkara fishing), but modern rods generally have the line stored on a reel mounted at the rod handle, 
        which controls the line retrieval, as well as line-guiding swivels (also known as rod guides) that reduce tangling. To better entice fish, bait or lures are dressed on the one or more hooks attached to the line, and a bite indicator is used, 
        some of which (e.g. quiver tip) might be incorporated as part of the rod itself.
    </h3>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>AvailablePieces</th>
            <th>Price (£)</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text" *ngFor="let item of items | async">
            <td><img src={{item.Img_url}} height=200 width=200></td>
            <td>{{item.Name}}</td>
            <td>{{item.availablePieces}}</td>
            <td>{{item.price}}</td>
            <td><a href="http://www.google.com/search?q={{item.Name}}">Link</a></td>
            <td><button mat-raised-button color="primary" (click)="addtoCart(item.Name,item.price)">Add to Cart</button></td>
        </tr> 
    </tbody>
</table>
</div>