<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedpage)="changePage($event)" [currentPage]="page" (inCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout(true)">
        </app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" (click)="onToggleSidenav(sidenav)">
            <div fxHide.gt-xs>
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon> 
                </button>
            </div>
            <div>FishingWebshop</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="nav-items">
                    <li *ngIf="loggedInUser"><a routerLink="/cart">Cart</a></li>
                    <li><a routerLink="/main">Main</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
                    <li><a routerLink="/signup">Register</a></li>
                    <li><a routerLink="/others">Others</a></li>
                    <li><a routerLink="/baits">Baits</a></li>
                    <li><a routerLink="/rods">Rods</a></li>
                    <li><a routerLink="/reels">Reels</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>   
</mat-sidenav-container>