<div class="main_component">
    <h1>Welcome our webshop!</h1>
    <br>
    <h1>In this webshop can pay with:</h1>
    <h2><mat-icon>credit_card</mat-icon>Visa Card</h2>
    <h2>or</h2>
    <h2><mat-icon> attach_money</mat-icon>Cash on delivery</h2>
    <br>
    <br>
    <h1>Have a problem? Contact us:</h1>
    <h2><mat-icon> contact_phone</mat-icon> +44 (0)1603 400870</h2>
    <h2><mat-icon> email</mat-icon> support@webfejlwebshop.uk </h2>
    <br>
    <br>
    <h1>Partered delivery companies:</h1>
    <h2><mat-icon> local_shipping</mat-icon> FedEx, UPS, TNT, DHL</h2>
</div>
